
.total-page {
    display: grid;
    grid-template-columns: 30% 5% 1fr 1fr 8%;
    grid-template-rows: 7vh 8vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh; 
    grid-auto-flow: row;
    font-family: Arial, Helvetica, sans-serif; 
}

.image-small {
    border-radius: 50%;
    height: 5vh;
    margin: 1vh; 
}


.icon {
    height: 4vh;  
    float: right;
    margin: 1.2vh; 
}

.text-big{
    font-size: 1.2vw;
    margin: 0.1vw 0 ; 
}
.text-middle{
    font-size: 1vw;
    margin: 0.1vw 0 ; 
    width: auto; 
}

    .text-middle-bold{
        font-size: 1vw;
        margin: 0.1vw 0 ; 
        font-weight: bold; 

    }

   

.text-small {
    font-size: 0.8vw;
}   
.text-small-right {
    font-size: 0.8vw;  
}  
.title-bar {
    background-color: #EAEAEA;   
    grid-column: 1 / 6;
    grid-row: 1 / 2;
}

    .title-bar-left {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-content: center;
    }

    .title-bar-right {
        grid-column: 2 / 6 ;
        grid-row: 1 / 2;
        border-left: 1px solid lightgray; 
        display: flex;
    }
            .person-texting-photo {
                grid-column: 2/ 3;
                grid-row: 1 / 2;
                border-radius: 50%;
                height: 5vh;
                margin: 1vh; 
            }

            .person-texting {
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            align-self: center; 
            min-width: 30%;
            }

            .icon-left {
                grid-column: 5 / 6;
                grid-row: 1 / 2;
                align-self: center;
                justify-items: end; 
                display: flex; 
                height: 7vh;  
                margin: 0 0 0 33vw ;
            }

.menu {
    grid-column: 1 / 2;
    grid-row: 2 / 13;
    background: #F0F0F0; 
    }    


       .searchbox{
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                justify-self: center;
                align-self: center;
                width: 90%;
                height: 6vh;  
                background-color: white;
                -webkit-border-radius: 50px;
                -moz-border-radius: 50px;
                border-radius: 50px;
                border: 1px solid #F0F0F0; 
            }

            .search {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self: center;
                margin: 1vw 0 1vw 3vw; 
            }

            .searchbox-text-middle-light{
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                align-self: center;
                margin: 1vw 0 1vw 5vw;
                font-size: 1vw;
                color: gainsboro; 
            }

                 
   
    .conversation-option{
        grid-column: 1 / 2;
        grid-row: 3 / 13;
        background: white; 
    }
            .conversation1{
                grid-column: 1 / 2;
                grid-row: 3 / 4;
                align-self: end;
                display: grid;
                grid-template-columns: 8vh auto 8vh;
                grid-template-rows: 5vh 5vh; 
                background: #F0F0F0; 
            }
                .photo-big{
                    grid-column: 1 / 2;
                    grid-row: 1 / 3; 
                    border-radius: 50%;
                    height: 6vh;
                    margin: 1vh; 
                    align-self: center;
                    }

                .menu-text-big {
                    grid-column: 2/ 3;
                    grid-row: 1 / 2; 
                    font-size: 1.2vw;
                    margin: 0.25vw 1vw ;
                    align-self: end;
                }
                .menu-text-middle-light {
                    grid-column: 3/ 4;
                    grid-row: 1 / 2; 
                    font-size: 1vw;
                    margin: 0.1vw 1vw 0 0  ; 
                    color: gainsboro; 
                    justify-self: end;
                    align-self: center;
                }
               
                .menu-text-middle{
                    grid-column: 2/ 3;
                    grid-row: 2/ 3; 
                    font-size: 1vw;
                    margin: 0.1vw 1vw ; 
                    align-self:start;
                }

                .menu-text-middle-normal{
                    grid-column: 2/ 3;
                    grid-row: 2/ 3; 
                    font-size: 1vw;
                    margin: 0.1vw 1vw ; 
                    align-self:start;
                    color: grey; 
                }
                
                .menu-icon{
                    grid-column: 3/ 4;
                    grid-row: 2/ 3; 
                    justify-self: end;
                    /* width: 30%; 
                    height: auto;  */
                    margin: 0.1vw 1vw 0  0  ; 
         
                }

                .division {
                    grid-column: 2/ 4;
                    grid-row: 2/ 3; 
                    border-bottom: 1px solid #EAEAEA; 
                }
            .conversation2{
                grid-column: 1 / 2;
                grid-row: 4 / 5;
                align-self: end;
                display: grid;
                grid-template-columns: 8vh auto 8vh;
                grid-template-rows: 5vh 5vh; 
            }
            .conversation3{
                grid-column: 1 / 2;
                grid-row: 5 /6;
                display: grid;
                grid-template-columns: 8vh auto;
            }
            .conversation4{
                grid-column: 1 / 2;
                grid-row: 6 /7;
                display: grid;
                grid-template-columns: 8vh auto;
            }
                .mute{
                    grid-column: 3/ 4;
                    grid-row: 2/ 3; 
                    justify-self: end;
                    /* width: 30%; 
                    height: auto;  */
                    margin: 0.1vw 1vw 0  0  ; 
         
                }
            .conversation5{
                grid-column: 1 / 2;
                grid-row: 7 /8;
                display: grid;
                grid-template-columns: 8vh auto;
            }
            .conversation6{
                grid-column: 1 / 2;
                grid-row: 8 /9;
                display: grid;
                grid-template-columns: 8vh auto;
            }
            .conversation7{
                grid-column: 1 / 2;
                grid-row: 9 /10;
                display: grid;
                grid-template-columns: 8vh auto;
            }
            .conversation8{
                grid-column: 1 / 2;
                grid-row: 10 /11;
                display: grid;
                grid-template-columns: 8vh auto;
            }
            .conversation9{
                grid-column: 1 / 2;
                grid-row: 11 /12;
                display: grid;
                grid-template-columns: 8vh auto;
            }


        .conversation {
            grid-column: 2 / 6  ;
            grid-row: 2 / 13;
            background: url(https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png);
            background-repeat: repeat;
        }
/* 
       cloud 1 */
                .cloud-send-1{
                    background: lightgreen; 
                    grid-column: 4 / 5  ;
                    grid-row: 2 / 4;
                    padding: 0.5vw; 
                    justify-self: end;
                    width: 20%;
                    align-self: center; 
                    border-radius: 20%;
                }
                        .big-smiley {
                            margin: 0 0 0 30%;
                            height: 3.5vw;
                            width: auto; 
                        }

                        .text-small-right {
                            justify-content: end; 
                            margin: 0 0 0 25%;
                        }
                            .cloud-green-check-image{
                                padding: 0.4vw 0 0 0.3vw;
                                height: 2vh;
                                width: auto ; 
                            }


    /* cloud 2 */
                .cloud-incoming-2{
                    display: inline-flex;
                    background: white; 
                    grid-column: 3 / 6  ;
                    grid-row: 4 / 5;
                    padding: 0.5vw; 
                    justify-self: start;
                    width: 15%;
                    height: 28%;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                   
                }
                    .conversation-text{
                        font-size: 1vw;
                        width: 100%;  
                        align-self: center; 
                        /* padding: 0.1vw 0vw 0.1vw 1vw;   */
                        margin: 0 2vw 0 0 ;
                    }

                    
                    .text-small-right-text {
                        /* width: 100%; */
                        justify-self: end;
                        /* margin: 1vh 1vw 0 0%; */
                        font-size: 0.8vw;
                        color:gray;
                        align-self: flex-end; 
                        text-align: right;
                    }
                    /* .cloud-green-check-text{
                        padding: 0.4vw 0 0 0.3vw;
                        height: 2vh;
                        width: auto ; 
                    } */
    
    /* cloud 3 */
                .cloud-incoming-3{
                    display: inline-flex;
                    background: white; 
                    grid-column: 3 / 6  ;
                    grid-row: 4 / 5;
                    padding: 0.5vw; 
                    justify-self: start;
                    align-self: end;
                    width: 40%;
                    height: 28%;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                
                }
     /* cloud 4 */
                .cloud-incoming-4{
                    display: inline-flex;
                    background: white; 
                    grid-column: 3 / 5  ;
                    grid-row: 5 / 7;
                    padding: 0.5vw; 
                    justify-self: start;
                    align-self: start;
                    margin: 1vh 0;
                    width: 70%;
                    height: 70%;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
    
    }

    /* cloud 5  */
                .cloud-send-5{
                    display: inline-flex;
                    background: lightgreen; 
                    grid-column: 4 / 6  ;
                    grid-row: 7 / 9;
                    justify-self: end;
                    align-self: start;
                    padding: 0.5vw; 
                    margin: -2vh 0.5vw 1vh 0 ;
                    width: 112%;
                    height: 70%;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                }
/* cloud 6  */
                .cloud-send-6{
                    display: inline-flex;
                    background: lightgreen; 
                    grid-column: 4 / 6  ;
                    grid-row: 9 / 10;
                    justify-self: end;
                    align-self: start;
                    padding: 0.5vw; 
                    margin: -5vh 0.5vw 1vh 0 ;
                    width: 90%;
                    height: 30%;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    border-radius: 10px;
                }
                        .smiley_small{ 
                        margin: -0.5vh 0 -0.5vh 0.3vw ;

                        }
    
.input {
    grid-column: 2 / 6;
    grid-row: 11/ 13;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 7vh; 
    background-color: #F0F0F0;
    display: inline-flex;
    margin-top:3vh;
   
    /* -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px solid #F0F0F0;  */
}

       .inputbox{
        grid-column: 2 / 6;
        grid-row: 12 / 13;
        justify-self: center;
        align-self: center;
        width: 100%;
        height: 5vh;  
        background-color: white;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        border: 1px solid #F0F0F0; 
        margin: 0 0.5vw;
    }

            .grey-smiley{
                justify-self: start;
                align-self: center;
                margin: 0 0 0 1vw;
            }

            .microphone{
                justify-self: end;
                align-self: center;
                margin: 0 1vw;
            }

            .inputbox-text-middle-light {
                margin: 1vw 0 1vw 1vw;
                /* width:90%; */
                font-size: 1vw;
                color: gainsboro; 
            }